.App {
  text-align: center;
  background-color: white;
  color: black;
}

.App .primary-btn {
  background-color: black;
  color: white;
  align-items: start;
  justify-content: left;
}

.dark {
  background-color: black;
  color: white;
}

.dark .primary-btn {
  background-color: white;
  color: black;
  align-items: start;
  justify-content: left;
}

.time {
  font-size: 100px;
  font-weight: 600;
}
